/**************************/
/********* COLORS *********/
/**************************/

$white: #ffffff;
$black: #0f1012;
$red: #fa4866;

$light: #f0f0f0;
$light-dark-1: darken($light, 10%);
$light-dark-2: darken($light, 20%);


$dark: #2b3743;
$dark-light-1: lighten($dark, 10%); 


/******************************/
/********* TYPOGRAPHY *********/
/******************************/

$base-font-size: 14px;

$main-font: 'Roboto', sans-serif;

%main-font {
  font-family: $main-font;
  font-weight: 400;
}

%main-font-medium {
  font-family: $main-font;
  font-weight: 500;
}


/***************************/
/********* GENERAL *********/
/***************************/

$app-padding: 15px;
